@tailwind base;
@tailwind components;
@tailwind utilities;



.slick-next {
    /* right: 10px; */
    background: rgb(110, 107, 107) !important;
    border-radius: 100%;
}
  
.slick-prev {
    /* left: 10px; */
    /* z-index: 2; */
    background: rgb(110, 107, 107) !important;
    border-radius: 100%;
}
  

.slick-prev:before,
.slick-next:before {
    color: rgb(0, 0, 0);
}